@use 'base/mixins' as m;
@use 'base/variables' as v;

.paquetes {

    &__grid {
        @include m.contenedor;
        @include m.grid(1, 3rem);
        @include m.tablet {
            @include m.grid(2, 3rem);
            align-items: flex-start;
        }
        @include m.desktop {
            @include m.grid(3, 3rem);
            align-items: flex-start;
        }
    }

    &__submit {
        @include m.boton(v.$azul, v.$blanco);
        margin-top: 3rem
    }
}

.paquete {
    @include m.card;

    &:nth-child(2) {
        order: -1;
        @include m.tablet {
            order: unset
        }
    }

    &__lista {
        @include m.reset--lista;
        line-height: 2;
    }

    &__precio {
        font-size: 6rem;
        margin: 3rem 0; // cambiar a 3rem 0 0 0para el actual
        color: v.$azul;
        font-weight: v.$black;
        text-align: center;
    }
    &__botonpaypal {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%;
        padding: 0;
        .item-header {
            visibility: hidden;
        }
        
    }    
    
}

.paquete__botonpaypal div {
    width: 100%; 
    @include m.tablet {
        margin-top: -.5rem;
    }
}